{% extends "base.html" %}

{% block title %}
<title>Pet Owners</title>
{% endblock title %}

{% block header %}
<h1>Pet Owners list</h1>
{% endblock header %}

{% block content %}
<table class="table">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    {% for owner in owners %}
    <tr>
      <th scope="row">
        <a href="{% url 'vet:owners_detail' pk=owner.id  %}">
          {{ owner.id }}
        </a>
      </th>
      <td>{{ owner.first_name }}</td>
      <td>{{ owner.last_name }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}

