{% extends "base.html" %}

{% block title %}
<title>Pets</title>
{% endblock title %}

{% block header %}
<h1>Pets list</h1>
{% endblock header %}

{% block content %}
<table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
    {% for pet in pets %}
    <tr>
      <td>
        <a href="{% url 'vet:pets_detail' pk=pet.id  %}">
          {{ pet.id }}
        </a>
      </td>
      <td>{{ pet.name }}</td>
      <td>{{ pet.type }}</td>
    </tr>
    {% endfor %}
</table>

<a type="button" href="{% url 'vet:pets_create' %}" class="btn btn-outline-primary">
  Add pet
</a>
{% endblock content %}

